considerations/mobile-flutter/flutter_con_test/.dart_tool/*
considerations/mobile-flutter/flutter_con_test/.idea/*
considerations/mobile-flutter/flutter_con_test/build/*
considerations/mobile-flutter/flutter_con_test/ios/Flutter/Flutter.framework
considerations/mobile-flutter/flutter_con_test/ios/Flutter/Flutter.podspec
considerations/mobile-flutter/flutter_con_test/linux/flutter/ephemeral/*