.game {
  padding: 2em;
  display: flex;
  gap: 2em;

  &-board {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &-info > ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .board-row {
    display: flex;
    gap: 1em;
  }
}
