#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.game {
  display: flex;
  gap: 2em;

  &-board {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &-info > ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .board-row {
    display: flex;
    gap: 1em;
  }

  .square {
    box-sizing: content-box;
    height: 2em;
    width: 2em;
    padding: 1em;
  }
}
